body{
    font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
              Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
/*Menu*/
#navBar {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 80px;
  background: #000;
  box-shadow: 0px 0px 10px #000;
  z-index: 9999;
}
  /* Name on Nav Bar */
  #navBar div>a>img {
    display: inline-block;
    margin: 0;
    padding: 1em 0 0 1em;
    width: 200px;
  }
  .drawer-menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 7em;
    font-family: arial;
    letter-spacing: .3em;
  }
  .drawer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  /*Drawer Menu*/
  .drawer-menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 120px 0;
    background: #000;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: perspective(500px) rotateY(-90deg);
    transform: perspective(500px) rotateY(-90deg);
    opacity: 0;
    box-shadow: 0px 0px 5px #1E1E1E;
  }
  .drawer-menu li {
    text-align: center;
  }
  .drawer-menu li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    -webkit-transition: all .8s;
    transition: all .8s;
  }
  .drawer-menu li a:hover {
    color: #1a1e1e;
    background: #96908D;
  }
  /* checkbox */
  .check {
    display: none;
  }
  /* menu button - label tag */
  .menu-btn {
    position: fixed;
    display: block;
    top: 28px;
    right: 40px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
  }
  .bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 1px;
    background: white;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  .bar.middle {
    top: 12px;
    opacity: 1;
  }
  .bar.bottom {
    top: 24px;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
  }
  .menu-btn__text {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: block;
    visibility: visible;
    opacity: 1;
  }
  /* Hover Effects */
  .menu-btn:hover .barI {
    background: white;
  }
  .menu-btn:hover .menu-btn__text {
    color: #999;
  }
  .close-menu {
    position: fixed;
    top: 0;
    right: 300px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
  }
  /* checked */
  .check:checked ~ .drawer-menu {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    z-index: 2;
  }
  .check:checked ~ .contents {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  .check:checked ~ .menu-btn .menu-btn__text {
    visibility: hidden;
    opacity: 0;
  }
  .check:checked ~ .menu-btn .bar.top {
    width: 56px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .check:checked ~ .menu-btn .bar.middle {
    opacity: 0;
  }
  .check:checked ~ .menu-btn .bar.bottom {
    width: 56px;
    top: 40px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .check:checked ~ .close-menu {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    background: rgba(0, 0, 0, .5);
    visibility: visible;
    opacity: 1;
    z-index: 3;
  }
/* End Menu */
/*Video-Header*/
.contenidor-video{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    position: ;
    padding:0;
    margin:0;
    z-index: -1000;
    overflow:hidden;
    background-color: black;
}
.video-fons{
    min-width: 100%;
    min-height: 100%;
}
/*End Video-Header*/
/*Section-One*/
.section-one{
    background: #000;
    color: #fff;
    padding-bottom: 15%;
}
.section-one>h2{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2.2em;
}
.section-one__text{
    max-width: 500px;
    border: solid 2px;
    padding: 5px; 
    text-align: center;
}
/*End Section-One*/